@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-ExtraLight.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-ExtraBold.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans-ExtraLight.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans-ExtraBold.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraLight.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.ttf");
  font-weight: 900;
}
